/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */

:root {
  --accent: #ccc;
  --accent-lighter: white;
  --background: #030303;
  --background-code: #24292e;
  --black: 15, 18, 25;
  --gray: 96, 115, 159;
  --gray-light: 229, 233, 240;
  --gray-dark: 34, 41, 57;
  --gray-gradient: rgba(var(--gray-light), 50%), #fff;
  --box-shadow: 0 2px 6px rgba(var(--gray), 25%),
    0 8px 24px rgba(var(--gray), 33%), 0 16px 32px rgba(var(--gray), 33%);
}

* {
  font-family: "Hack", monospace;
  margin: 0;
  padding: 0;
}

body {
  padding: 1em 5em;
  text-align: left;
  word-wrap: break-word;
  overflow-wrap: break-word;
  color: var(--accent);
  background-color: var(--background);
  font-size: 1em;
  letter-spacing: -0.01em;
  line-height: 1.5;
  font-weight: normal;
  min-height: 100vh;
  text-rendering: "optimizeLegibility";
}

main {
  width: 720px;
  max-width: calc(100% - 2em);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 2.5em;
  line-height: 1.2;
  color: var(--accent-lighter);
  font-weight: bolder;
}
.prose h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: -0.6em;
}
h1 {
  font-size: 1.2em;
}
h2,
h3,
h4,
h5,
h6 {
  font-size: 1.1em;
}
strong,
b {
  font-weight: bold;
}
a {
  color: var(--accent);
  text-decoration: "underline";
}
a:hover {
  color: var(--accent-lighter);
}
.prose p {
  margin-top: 1.6em;
  color: (--accent);
}
textarea {
  width: 100%;
  font-size: 16px;
}
input {
  font-size: 1em;
}
table {
  width: 100%;
}
img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}
code {
  padding: 2px 5px;
  border-radius: 2px;
  font-size: 0.9em;
  /* background-color: var(--accent); */
  background-color: var(--background-code);
  color: var(--accent-lighter);
}
pre {
  padding: 1.5em;
  border-radius: 8px;
  margin-top: 0.5em;
  margin-bottom: 2em;
}
pre > code {
  all: unset;
  font-size: 0.8em;
}
blockquote {
  border-left: 2px solid var(--accent);
  padding: 0 0 0 20px;
  margin: 2em 0;
}
hr {
  border: none;
}
@media (max-width: 720px) {
  body {
    font-size: 1em;
  }
  main {
    padding: 1em;
  }
}

.sr-only {
  border: 0;
  padding: 0;
  margin: 0;
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  /* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
  clip: rect(1px 1px 1px 1px);
  /* maybe deprecated but we need to support legacy browsers */
  clip: rect(1px, 1px, 1px, 1px);
  /* modern browsers, clip-path works inwards from each corner */
  clip-path: inset(50%);
  /* added line to stop words getting smushed together (as they go onto separate lines and some screen readers do not understand line feeds as a space */
  white-space: nowrap;
}
